@charset "UTF-8";



/* #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #1a5c37
    #063d1e
 */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}



:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;
    
    --fonte-padrão: 'Arial', verdana, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: 'android', sans-serif;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}



body {
    background-color: var(--cor0);
    
    font-family: var(--fonte-padrão);
    


}

a.external::after {
    content: "\1F517";
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
}

main p {
    line-height: 1.6;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    margin: 15px, 0px

}

main strong {
    color: var(--cor05);
    font-weight: bold;
    
    padding: 2px 4px;

}
main a {
    color: var(--cor04);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 4px;

}

main a:hover {
    color: var(--cor04);
    text-decoration: underline;
    transition-duration: 0.3s;
}

header {
    
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
    
    min-height: 150px;
    
    text-align: center;
    padding-top: 40px;

}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.74) 2px 2px 2px;


}
header > p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: rgba(0, 0, 0, 0.74) 2px 2px 2px;
    

}
nav {
    background-color: var(--cor06);
    padding: 10px;
    text-align: left;
    box-shadow: 0px 7px 7px black;

}
nav > a {
    color: var(--cor02);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.2em;
    transition-duration: 0.3s;
    
}
nav > a:hover {
    background-color: var(--cor04);
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    transition: 0.3s;

}
main {
    margin: auto;
    margin-bottom: 30px;
    text-align: left;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
main > img {
    max-width: 350px;
    height: auto;
    display: block;
    margin: 10px auto;

}

main h1 {
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;


}
main h2 {
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor02), transparent);
    text-indent: 8px;

}
div.video {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: var(--cor06);
    margin: 20px 0px;

}
div.video iframe {
    position : absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;




}
aside {
    background-color: var(--cor02);
    padding: 10px;
    margin: 20px 0px;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.493);

}
aside h3 {
    background-color: var(--cor06);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-position: inside;
    list-style-type: "\1F5F8\00a0\00a0";
    columns: 2;
    color: rgb(0, 0, 0);
    font-weight: bold;

}
footer {
    background-color: var(--cor04);
    color: white;
    text-align:center;
    padding: 7px;
    font-size: 0.8em;
    font-weight: bold;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
    

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 2px 4px;

}
footer a:hover {
    text-decoration: underline;
    color: var(--cor02);   
    transition-duration: 0.3s;  
}